
.user-box {
  background-color: #FFF;
  width: 70vw;
  min-width: 1200px;
  padding: 10vh 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-box>.user-title {
  text-align: center;
  font-size: 6vh;
  font-weight: bold;
  margin-bottom: 5vh;
  position: relative;
}

.user-content {

}

.user-table {
  margin-bottom: 30px;
  width: 100%;
}

.detail-user {
  width: 20%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}

.detail-user-value {
  width: 80%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
}

.profile-red-btn {
  text-align: center;
  background-color: #ea352d;
  font-size: 24px;
  font-weight: bold;
  color: #FFF;
  margin: 20px 0px;
  padding: 2vh 10vw;
}

.user-item-lists {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.user-item-lists>.list {
  width: 37vh;
  padding: 1vw;
  background-color: #FFF;
}

.user-item-title {
  text-align: center;
  font-size: 4vh;
  font-weight: bold;
  margin-bottom: 5vh;
}
.user-purchases-title {
  text-align: center;
  font-size: 4vh;
  font-weight: bold;
  margin-bottom: 5vh;
}

.user-purchase-lists {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.user-purchase-lists>.list {
  width: 37vh;
  padding: 1vw;
  background-color: #FFF;
}
