.user-show {
  padding: 5vh 15vw;
}

.user-show>.user-title {
  text-align: center;
  font-size: 6vh;
  font-weight: bold;
  margin-bottom: 5vh;
  position: relative;
}

.user-table {
  margin-bottom: 30px;
  width: 100%;
}

.detail-user {
  width: 20%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}

.detail-user-value {
  width: 80%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
}

.user-item-lists {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.user-item-lists>.list {
  width: 37vh;
  padding: 1vw;
  background-color: #FFF;
}

.user-item-title {
  text-align: center;
  font-size: 5vh;
  font-weight: bold;
  margin-bottom: 5vh;
}